.logo-word {
    padding-left: 10px;
    &-top-desktop {
        font-size: 30px;
    }
    &-bottom-desktop {
        font-size: 20px;
        padding-bottom: 20px;
    }
}

.hovered-link:hover {
    text-shadow: 2px 2px 5px $dark-green;
    box-shadow: 0 0 0 1px $dark-green;
}

.hovered-shadow:hover {
    text-shadow: 2px 2px 5px $dark-green;
}

.artical {
    position: relative;
    top: 0px;
    right: 0px;
    box-shadow: 0 8.2px 14.6px -33px rgba(0, 0, 0, 0.303), 0 14.3px 23.3px -33px rgba(0, 0, 0, 0.437), 0 18.7px 30.5px -33px rgba(0, 0, 0, 0.511), 0 22.9px 41px -33px rgba(0, 0, 0, 0.558), 0 40px 65px -33px rgba(0, 0, 0, 0.59);
    transition: 400ms all 0ms ease-in-out;
    &:hover {
        top: -13px;
        box-shadow: 0 8.2px 14.6px -33px #71db77, 0 14.3px 23.3px -33px #71db77, 0 18.7px 30.5px -33px #71db77, 0 22.9px 41px -33px #71db77, 0 40px 65px -33px #71db77, ;
        color: #71db77;
    }
    &-body {
        font-size: 25px;
    }
}

@media (max-width: $layout-breakpoint) {
    .desktop {
        display: none;
    }
    .logo-pic {
        width: 3rem;
        height: 3rem;
        margin-bottom: 10px;
        transition: all 0.5s;
        transition-timing-function: ease-in-out;
        &:hover {
            transform: rotateZ(360deg);
        }
    }
    .logo-word-top-mobile {
        font-size: 20px;
    }
    .logo-word-bottom-mobile {
        font-size: 15px;
    }
    .mobile-changing-words {
        font-size: 20px;
        color: black;
        flex: 1;
    }
    .big-title {
        font-family: Nunito !important;
        font-size: 1.5rem !important;
        font-weight: 600;
    }
}

@media (min-width: $layout-breakpoint) {
    .mobile {
        display: none;
    }
    .logo-pic {
        width: 4rem;
        height: 4rem;
        margin-bottom: 10px;
        transition: all 0.5s;
        transition-timing-function: ease-in-out;
        &:hover {
            transform: rotateZ(360deg);
        }
    }
    .changing-words {
        font-size: 35px;
        color: black;
        flex: 1;
    }
    .big-title {
        font-family: Nunito !important;
        font-size: 3rem !important;
        font-weight: 600;
    }
}

.my-button,
.my-button-2 {
    width: 140px;
    height: 45px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 700;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.my-button:hover {
    background-color: #2ee59d;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.my-button-2:hover {
    background-color: #ff3860;
    box-shadow: 0px 15px 20px rgba(222, 44, 71, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

#sunglasses {
    width: 200px;
    animation-delay: 2.5s;
    animation-duration: 1.5s;
}

.ty {
    font-weight: 900;
    font-size: 7rem;
    font-kerning: normal;
    line-height: 7rem;
    text-align: center;
}

.artical-image {
    box-shadow: 0px 0px 6px 2px rgba(9, 9, 16, 0.2);
    -webkit-filter: grayscale(0) blur(0);
    filter: grayscale(0) blur(0);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.artical-image:hover {
    -webkit-filter: grayscale(100%) blur(1px);
    filter: grayscale(100%) blur(1px);
}