// Body
$body-bg: #f6f6f6;
// Typography
$font-family: Nunito,
Arial,
Helvetica,
sans-serif;
$font-weight: 400;
//device
$layout-breakpoint: 768px;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$dark: #0a0a0a;
$dark-green: #63d861;
