.logo-word {
    padding-bottom: 15px;
    padding-left: 10px;
}

.logo-word-top-desktop {
    font-size: 30px;
}

.logo-word-bottom-desktop {
    font-size: 20px;
}

.hovered-link:hover {
    text-shadow: 2px 2px 5px $dark-green;
    box-shadow: 0 0 0 1px $dark-green;
}

.hovered-shadow:hover {
    text-shadow: 2px 2px 5px $dark-green;
}

.artical {
    position: relative;
    top: 0px;
    right: 0px;
    box-shadow: 0px 3px 6px rgba(113, 219, 119, 0.8);
    transition: 400ms all 0ms ease-in-out;
}

.artical:hover {
    top: -5px;
    right: -5px;
    box-shadow: 0px 5px 30px rgba(113, 219, 119, 0.8);
    color: #71db77;
}

@media (max-width: 768px) {
    .desktop {
        display: none;
    }
    .footer-height {
        padding: 1.5rem;
    }
    .mobile-logo-pic {
        width: 3rem;
        height: 3rem;
        margin-bottom: 10px;
        transition: all 2s;
        transition-timing-function: ease-in-out;
    }
    .mobile-logo-pic :hover {
        transform: rotateZ(720deg);
    }
    .footer {
        padding: 1.25rem;
    }
    .logo-word-top-mobile {
        font-size: 20px;
    }
    .logo-word-bottom-mobile {
        font-size: 15px;
    }
    .mobile-changing-words {
        font-size: 20px;
        color: black;
        flex: 1;
    }
}

@media (min-width: 768px) {
    .mobile {
        display: none;
    }
    .logo-pic {
        width: 4rem;
        height: 4rem;
        margin-bottom: 10px;
        transition: all 2s;
        transition-timing-function: ease-in-out;
    }
    .logo-pic:hover {
        transform: rotateZ(720deg);
    }
    .changing-words {
        font-size: 35px;
        color: black;
        flex: 1;
    }
}

.my-input::-webkit-input-placeholder {
    font-family: "Nunito", Arial, Helvetica, sans-serif;
}

.my-input:-ms-input-placeholder {
    font-family: "Nunito", Arial, Helvetica, sans-serif;
}

.my-input:-moz-placeholder {
    font-family: "Nunito", Arial, Helvetica, sans-serif;
}

.my-input::-moz-placeholder {
    font-family: "Nunito", Arial, Helvetica, sans-serif;
}

.my-button,
.my-button-2 {
    width: 140px;
    height: 45px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 700;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.my-button:hover {
    background-color: #2ee59d;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.my-button-2:hover {
    background-color: #ff3860;
    box-shadow: 0px 15px 20px rgba(222, 44, 71, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

#about,
#show {
    opacity: 0;
    animation: fadein;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#sunglasses {
    width: 200px;
    animation-delay: 2.5s;
    animation-duration: 1.5s;
}

.ty {
    font-weight: 900;
    font-size: 7rem;
    font-kerning: normal;
    line-height: 7rem;
    text-align: center;
}

.big-pic {
    background-image: url("https://images.unsplash.com/photo-1468730533502-216da872eab2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.7;
    filter: blur(0.8px);
}
